{% extends 'form-ajax.html' %}
{% block form %}

    <div class="field">
        <label class="label is-medium">{{ form.first_name.label }}</label>
        <div class="control has-icons-left">
            {{ form.first_name }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-user"></i>
                </span>
        </div>
    </div>
    <div class="field">
        <label class="label is-medium">{{ form.last_name.label }}</label>
        <div class="control has-icons-left">
            {{ form.last_name }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-user"></i>
                </span>
        </div>
    </div>

    <div class="field">
        <label class="label is-medium">{{ form.dni.label }}</label>
        <div class="control has-icons-left">
            {{ form.dni }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-id-card"></i>
                </span>
        </div>
    </div>

    <div class="field">
        <label class="label is-medium">{{ form.address.label }}</label>
        <div class="control has-icons-left">
            {{ form.address }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-house-chimney"></i>
                </span>
        </div>
    </div>

    <div class="field">
        <label class="label is-medium">{{ form.email.label }}</label>
        <div class="control has-icons-left">
            {{ form.email }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-envelope"></i>
                </span>
        </div>
    </div>

    <div class="field">
        <label class="label is-medium">{{ form.amount_invoices.label }}</label>
        <div class="control has-icons-left">
            {{ form.amount_invoices }}
            <span class="icon is-small is-left">
                    <i class="fa-solid fa-receipt"></i>
                </span>
        </div>
    </div>
{% endblock %}