{% extends 'datatable-ajax.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'product/js/humanize.min.js' %}"></script>
    <script src="{% static 'product/js/list.js' %}"></script>
{% endblock %}
{% load humanize %}

{% block thead %}
    <th class="has-text-white">Id</th>
    <th class="has-text-white">Name</th>
    <th class="has-text-white">Description</th>
    <th class="has-text-white">Image</th>
    <th class="has-text-white">Price</th>
{% endblock %}

{% block tbody %}

{% endblock %}