{% extends 'form-ajax.html' %}
{% block form %}
    <div class="field">
        <label class="label is-medium">{{ form.product.label }}</label>
        <div class="select">
            {{ form.product }}
        </div>
        <button class="button js-modal-trigger" data-target="modal-js-example">
                <span class="icon is-small">
                    <i class="fa-solid fa-plus"></i>
                </span>
        </button>
    </div>
    <div class="field">
        <label class="label is-medium">{{ form.stock.label }}</label>
        <div class="control">
            {{ form.stock }}
        </div>
    </div>

    {% include 'components/modal.html' %}
{% endblock %}
