{% extends 'datatable.html' %}
{% block link %}
    <a href="{% url 'nynet:create_inventory' %}">Click Here</a>
{% endblock %}
{% block thead %}
    <th class="has-text-white">Id</th>
    <th class="has-text-white">Name</th>
    <th class="has-text-white">Stock</th>

{% endblock %}

{% block tbody %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.product }}</td>
            <td>{{ object.stock }}</td>
        </tr>
    {% endfor %}

{% endblock %}