{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="post" action="." enctype="multipart/form-data" id="ajax">

        {{ crsf_token }}
        <input type="hidden" name="action" value="{{ action }}">
        {% if form.errors %}
            <div class="notification is-danger is-light">
                <p class="is-size-4"><i class="fa-solid fa-triangle-exclamation"></i> Error</p>
                <button class="delete"></button>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    {% endfor %}

                </ul>
            </div>
        {% endif %}
        {% block form %}

        {% endblock %}
        <div class="control">
            <button type="submit" class="button is-primary" id="btnSubmit">Create</button>
        </div>
    </form>


{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{% static 'js/close_notification.js' %}"></script>
{% endblock %}