{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title has-text-white">{{ title }}</p>

            <p class="subtitle has-text-white">If you want to add more {{ name }} <a href="{{ create_url }}">Click
                Here</a></p>
        </div>
    </div>
    <div class="listContainer">
        <section class="list-view">
            {% for object in object_list %}

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% block card-image %}

                            {% endblock %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {% block card-content %}

                            {% endblock %}
                            <div class="edit-content">
                                <a href="{% url 'nynet:update_product' object.id %}" class="has-text-success"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                                <a href="{% url 'nynet:delete_product' object.id %}" class="has-text-danger is-pulled-right"><i class="fa-solid fa-trash"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </section>
    </div>
{% endblock %}
