<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>NyNet</strong> by <a href="https://c.tenor.com/29Ok5pc0ivAAAAAM/gatinho-gato.gif">Chayanne Ozuna</a>. The source code is licensed by
            <a href="https://thumbs.gfycat.com/SnarlingSadHorseshoebat-size_restricted.gif">Three Friends</a>. The website content
            is licensed by <a href="https://c.tenor.com/_5Jd5J9n5-QAAAAC/baile-del-trolleo.gif">Me</a>.
        </p>
    </div>
</footer>